
.game-card {
    width: 300px;
    margin: 10px;
    border-radius: 10px; /*Rundede hjørner*/
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*Denne må endres senere*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s; /*Kul detalj når man hoverer musen over kortene*/
  }
  
  .game-card:hover {
    transform: scale(1.05);
  }
  
  .game-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .game-card-content {
    padding: 15px;
  }
  
  .game-card h5 {
    margin: 10px 0;
    font-size: 1.3em;
    color: #041C34;
  }
  
  .game-card p {
    margin: 5px 0;
    color: gray;
  }
  
  .trigger-warnings {
    margin-top: 10px;
  }
  
  .trigger-warnings h6 {
    margin-bottom: 5px;
    font-size: 1em;
    color: grey;
  }
  
  .trigger-warnings ul {
    list-style: none;
    padding: 0;
  }
  
  .trigger-warnings li {
    color: grey;
  }
  