
* {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #041C34;
}
.centered-container {
  text-align: center;
}
